.social{
    height: 40px;
    width: 40px;
    background-image: url( pictures/fb\ sprite\ image.png);
    background-position: 0 -38px;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: 1s;
}
.social:hover{
    background-position: 0 -77px
}